*
!.gitignore
!ai_audio/
!ai_audio/.gitkeep
!audio/
!audio/.gitkeep
!sounds/
!sounds/button.mp3
!sounds/start.mp3
!sounds/end.mp3
!images/
!images/icon_chat.gif
!images/icon_chat.png
!images/step*
!images/app_image.svg
